@media only screen and (min-width: 1600px) {
  @mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @mixin columnFlex {
    @include flex();
    flex-direction: column;
  }

  @mixin rowFlex {
    @include flex();
    flex-direction: row;
  }

  .dashboard-wrapper {
    width: 100%;
    height: 100%;

    @include flex();
  }

  .category-modal-bg {
    width: 100vw;
    height: 100vh;

    position: fixed;
    z-index: 10;

    top: 0;
    left: 0;

    background-color: #eeeeee88;

    @include flex();

    .category-modal {
      width: 600px;
      height: 400px;

      background-color: #ddd;

      border: 4px solid #fff;
      border-radius: 15px;
      padding: 25px;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      position: relative;

      .close {
        width: 25px;
        height: 25px;

        position: absolute;
        top: 10px;
        right: 10px;

        background-color: #fff;

        border: none;
        border-radius: 5px;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        transition: background-color 0.2s;

        &:hover {
          background-color: #bbb;
        }

        img {
          height: 60%;
        }
      }

      .subject {
        min-width: 100px;
        max-width: 250px;
        height: 60px;

        padding-inline: 20px;

        background-color: #fff;

        border: 2px solid #111;
        margin: 10px;

        font-size: 18px;
        font-family: fonts.$nunito;
        font-weight: normal;

        cursor: pointer;

        transition: background-color 0.2s;

        &:hover {
          background-color: #bbb;
        }
      }
    }
  }

  .sidebar {
    width: 20%;
    height: 100%;

    background-color: #fff;

    padding: 40px 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-size: 40px;
      font-family: fonts.$montalt;
      font-weight: bold;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }

    ul {
      width: 100%;
      height: 40%;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      list-style: none;

      font-size: 32px;
      font-family: fonts.$nunito;
      font-weight: bold;

      li {
        cursor: pointer;

        width: fit-content;

        position: relative;

        transition: text-shadow 0.3s;

        &::before {
          content: '';

          width: 100%;
          height: 2px;

          background-color: #111;

          position: absolute;

          bottom: 0;
          left: 0;

          transition: transform 0.3s;

          transform: scaleX(0);
          transform-origin: 0%;
        }

        &:hover {
          text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        }

        &:hover::before {
          transform: scaleX(1);
        }
      }
    }

    button {
      width: 150px;
      height: 60px;

      background-color: transparent;

      border: 4px solid #111;

      font-size: 22px;
      font-family: fonts.$nunito;
      font-weight: bold;

      cursor: pointer;

      transition: all 0.2s;

      &:hover {
        background-color: #111;

        color: #eee;
      }
    }
  }

  .main-content {
    width: 80%;
    height: 100%;

    background-color: #eee;

    p {
      margin: 0;
    }

    .topbar {
      width: 100%;
      height: 75px;

      @include flex();

      font-size: 24px;
      font-family: fonts.$nunito;

      .username {
        font-weight: bold;
      }
    }

    .content-inner {
      width: 100%;
      height: calc(100% - 80px);

      padding: 40px 0;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .user-info {
      width: 100%;
      height: 45%;

      @include flex();

      .rank-info {
        width: 25%;
        height: 75%;

        @include columnFlex();

        .rank-img {
          width: 100%;
          height: 80%;

          @include flex();

          img {
            height: 100%;
          }
        }

        .rank-name {
          width: 100%;
          height: 20%;

          @include flex();

          font-size: 32px;
          font-family: fonts.$nunito;
          font-weight: bold;
        }
      }

      .level-info {
        width: 75%;
        height: 100%;

        @include columnFlex();

        .level {
          width: 100%;
          height: 40%;

          @include flex();

          font-size: 46px;
          font-family: fonts.$nunito;
          font-weight: bold;
        }

        .level-bar {
          width: 90%;
          height: 25px;

          background-color: #aaa;

          border: 2px solid #111;
          border-radius: 20px;

          position: relative;

          --bar-progress: 60%;

          &::after {
            content: '';

            position: absolute;
            top: 0;
            left: 0;

            width: 0%;
            height: 100%;

            background-color: #d34e68;

            // border: 4px solid #111;
            border-radius: 20px;

            padding-left: var(--bar-progress); // PROGRESS
          }
        }

        .games-info {
          width: 100%;
          height: 40%;

          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;

          div {
            @include columnFlex();

            font-family: fonts.$nunito;
            font-weight: bold;

            border: 2px solid #111;
            border-radius: 20px;

            span {
              @include flex();
            }

            .desc {
              width: 100%;
              height: 40%;

              font-size: 16px;
            }

            .value {
              width: 100%;
              height: 40%;

              font-size: 22px;
            }
          }

          .ov-score {
            width: 200px;
            height: 75px;

            background-color: #f3a712;
          }

          .fav-subject {
            width: 300px;
            height: 75px;

            background-color: #52d1dc;
          }

          .last-game {
            width: 200px;
            height: 75px;

            background-color: #4ce0b3;
          }
        }
      }
    }

    .game-info-wrapper {
      width: 100%;
      height: 45%;

      @include flex();

      .game-info {
        width: 48%;
        height: 100%;

        @include flex();

        .game-buttons {
          width: 50%;
          height: 80%;

          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;

          button {
            width: 250px;

            border: none;
            border-radius: 10px;

            font-size: 30px;
            font-family: fonts.$nunito;
            font-weight: bold;
            color: #eee;

            cursor: pointer;
          }

          .play {
            height: 140px;

            background-color: #386641;

            font-size: 50px;

            &:hover {
              background-color: #164420;
            }
          }

          .history {
            height: 100px;

            background-color: #912f40;

            &:hover {
              background-color: #700d20;
            }
          }
        }

        .last-game-info {
          width: 48%;
          height: 85%;

          background-color: #fff;

          border: 6px solid #aaa;
          border-radius: 10px;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .title {
            width: 100%;
            height: 15%;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 22px;
            font-family: fonts.$nunito;
            font-weight: bold;
            color: #111;
          }

          .info {
            width: 100%;
            height: 85%;

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            div {
              width: 75%;
              height: 30%;

              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;

              font-family: fonts.$nunito;
            }

            .value {
              font-weight: bolder;
              color: #111;
            }

            .name {
              font-weight: normal;
              color: #aaa;
            }

            .subject {
              .value {
                font-size: 20px;
              }
            }

            .answers {
              .value {
                font-size: 24px;
              }
            }

            .score {
              .value {
                font-size: 30px;
              }
            }
          }
        }
      }

      .divider {
        width: 8px;
        height: 100%;

        background-color: #666;
        border-radius: 10px;
        margin-inline: 10px;
      }

      .last-achv {
        width: 48%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
          width: 100%;
          height: 10%;

          display: flex;
          justify-content: center;
          align-items: center;

          font-size: 30px;
          font-family: fonts.$nunito;
          font-weight: bold;
          color: #111;
        }

        .content {
          width: 100%;
          height: 90%;

          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;

          .achv {
            width: 30%;
            height: 80%;

            background-color: #f0f7f4;
            border: 2px solid #111;

            .image {
              width: 100%;
              height: 75%;

              @include flex();

              img {
                height: 80%;
              }
            }

            .title {
              width: 100%;
              height: 25%;

              @include flex();

              font-size: 18px;
              font-family: fonts.$nunito;
              font-weight: bold;
              color: #070707;
            }
          }
        }
      }
    }
  }
}
