.quiz-end-wrapper {
  width: 100%;
  height: 100vh;

  background-color: colors.$light;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ul {
    padding: 0;
    list-style: none;
  }
}
