@media only screen and (max-width: 450px) {
  .auth-wrapper {
    width: 100%;
    height: 100%;

    background-color: #eee;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  form {
    width: 500px;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
      width: 250px;
      height: 50px;

      background-color: #fff;

      margin-bottom: 20px;

      border: none;
      border-radius: 10px;

      font-size: 18px;
      font-family: fonts.$nunito;
      font-weight: bold;
      text-align: center;
    }

    button {
      width: 200px;
      height: 50px;

      background-color: #009de0;

      border: none;
      border-radius: 5px;

      margin-top: 20px;

      font-size: 20px;
      font-family: fonts.$nunito;
      font-weight: bold;
      color: #fff;
    }
  }
}
